:root {
	--green-30: #d6cf90;
	--green-50: #d1c342;
	--green-70: #9F9006;
	--green-90: #796D00;
	--brown-5: #F0EFEB;
	--brown-10: #e7dad2;
	--brown-20: #D4B986;
	--brown-30: #c09d56;
	--brown-60: #996500;
	--brown-80: #724C01;
	--brown-100: #633c0a;
}
/* navbar section...........................................*/
.nav {
    display: flex;
    align-items: center;
    font-family: "Architects Daughter" ,cursive;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    background-color: #F0EFEB;
    text-transform: uppercase;
    cursor: pointer;
}
.nav__logo img{
    width: 70%;
    margin: 0.5rem;
    margin-left: 2.5rem;
}
.nav__links {
    flex: 0 0 auto;
    margin: 0 0 0 auto;
}
.nav__item {
    display: inline-block;
    margin: 0 0.5rem;
    padding: 0 0.2rem;
}
.nav__item a:hover {
    color: var(--green-50);
}
.nav__item a:focus, .nav__item a:active {
    color: var(--green-90);
}
.nav__item a{
    text-decoration: none;
    color: var(--green-70);
}

