:root {
	--green-30: #d6cf90;
	--green-50: #d1c342;
	--green-70: #9F9006;
	--green-90: #796D00;
	--brown-5: #F0EFEB;
	--brown-10: #e7dad2;
	--brown-20: #D4B986;
	--brown-30: #c09d56;
	--brown-60: #996500;
	--brown-80: #724C01;
	--brown-100: #633c0a;
}


